{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h1>Log In to Your Account</h1>
{% endblock header %}

{% block content %}

  <form method="post" action="{% url 'login' %}" class="form">

    <div class="panel panel-default">

      <div class="panel-heading">

        {% if form.errors %}

          <h3 class="panel-title">Your username and password did not match. Please try again.</h3>

        {% else %}

          <h3 class="panel-title">Back for more?! You Awesome Winning Learner, you!</h3>

        {% endif %}

      </div>

      <div class="panel-body">

          {% csrf_token %}
          {% bootstrap_form form %}
      </div>

    </div>

    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}

  </form>

{% endblock content %}