{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <h1>Log In to Your Account</h1>
{% endblock header %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password did not match. Please try again.</p>
  {% endif %}
  
  <h4>Back for more?! You Awesome Winning Learner, you!</h4>
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
  
  
    {% buttons %}
      <button name="submit" class="btn btn-primary">log in</button>
    {% endbuttons %}
  
    <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>

{% endblock content %}